---
layout: default
---

<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <!-- 썸네일 -->
  {% if page.youtube_id %}
    <img class="yt-thumb"
      src="https://img.youtube.com/vi/{{ page.youtube_id }}/hqdefault.jpg">
  {% endif %}

  <!-- 타이머 표시 -->
  <div id="timer-display">No timer</div>

  <!-- 타이머 버튼 -->
  <div class="timer-container">
    <button data-time="30">30m</button>
    <button data-time="60">1h</button>
    <button data-time="120">2h</button>
    <button data-time="240">4h</button>
    <button data-time="480">8h</button>
    <button data-time="0">OFF</button>
  </div>

  <div class="content">
    {{ content }}
  </div>

</article>
